<h1>My First AngularDart App</h1>
<nav>
    <a [routerLink]="RoutePaths.todo.toUrl()"
       [routerLinkActive]="'active-route'">Todo</a>
  </nav>
<router-outlet [routes]="Routes.all"></router-outlet>

